<style>

a,
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/* Header */
.masthead {
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: black;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: lightgrey;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: grey;
  border-bottom-color: lightgrey;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

body {
  padding-top: 1rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.display-2{
    text-align: center;
}
.text-muted{
    text-align: center;
}
</style>

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">EcookBook</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/signup">Account</a>
        <a class="nav-link active" href="/recipes/new">Create Recipe</a>
        <a class="nav-link" href="/recipes">All Recipes</a>
        <a class="nav-link" href="/recipes/random">Surprise!</a>
        <a class="nav-link" href="/logout">Logout</a>

      </nav>
    </div>
  </header>

  <br>
  <br>
  <br>






<h1><em>Cookmode!</em></h1>

<h2 class="display-2"><%=@recipe.name%></h2>
 <small class="text-muted">
<h5><%=@recipe.recipeType.name%></h5>
</small>

<br>




<div class="card" style="width: 40rem;">
  <div class="card-header">
<p class="lead"><strong>Ingredients:</strong></p>
</div>
<ul class="list-group list-group-flush">
    <%@ingredients.each do |i|%>
    <li class="list-group-item"><input type='checkbox'> <%=i%></input></li>
    
    <br>
    <% end %>
    </ul>
</div>

<br>
<br>
<div class="card" style="width: 40rem;">
  <div class="card-header">

<p class="lead"><strong>Steps:</strong></p>
</div>

<ul class="list-group list-group-flush">
    <%@steps.each do |i|%>
        <li class="list-group-item"><input type='checkbox'> <%=i%></input></li>

    <br>
    <% end %>
    </ul>


</div>
<br>
<br>
<div class="card">
<div class="card-body">
<h3>Description</h3>
<p><%= @recipe.description %></p>
</div>
</div>

<span class="border-top">
<footer class="mastfoot mt-auto">
    <div class="inner">
    <small>&copy; 2020 <strong>Ecookbook</strong></small>
    </div>
  </footer>
  </span>


