
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">EcookBook</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <% if session[:user_id]%>
            <a class="nav-link" href="/user/account">Account</a>
            <a class="nav-link" href="recipes">Create Recipe</a>
            <a class="nav-link active" href="recipes">All Recipes</a>
            <a class="nav-link" href="recipes/random">Surprise!</a>
        <%else%>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/signup">Create an Account</a>
            <a class="nav-link active" href="recipes">All Recipes</a>
            <a class="nav-link" href="recipes/random">Surprise!</a>
        <%end%>
      </nav>
    </div>
  </header>

<%=flash[:message]%>
<h1 class="display-2 ">All Recipes</h1>
<%@recipeType.each do |t|%>
<br>
<br>
  <h2 class="display-4"><u><%=t.name%></u></h2>
  <div class="row ">
    <%@recipes.each do |recipe|%>
      <%if recipe.recipeType_id == t.id%> 
      <div class="col-md-4">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 24rem;">
          <%if recipe.recipeType.name=="Breakfast"%>
            <img src="https://www.flaticon.com/svg/static/icons/svg/985/985505.svg" class="card-img-top" alt="Breakfast Icon" width="90" height="90">
          <% elsif recipe.recipeType.name=="Lunch" %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/601/601684.svg" class="card-img-top" alt="Lunch Icon" width="90" height="90">
          <% elsif recipe.recipeType.name=="Dinner"%>
            <img src="https://www.flaticon.com/svg/static/icons/svg/1046/1046874.svg" class="card-img-top" alt="Dinner Icon" width="90" height="90">
          <% elsif recipe.recipeType.name=="Dessert"%>
            <img src="https://www.flaticon.com/svg/static/icons/svg/2965/2965574.svg" class="card-img-top" alt="Dessert Icon" width="90" height="90">
          <% elsif recipe.recipeType.name=="Snack" %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/3076/3076046.svg" class="card-img-top" alt="Snack Icon" width="90" height="90">
          <% else %>
          <%end%>
          <div class="card-body">
            <h5 class="card-title"><strong><%=recipe.name%></strong> <br> <small class="text-muted">by <%=recipe.user.username%></small></h5>  
            <p class="card-text lead"> <%=recipe.description%></p>
            <a href="/recipes/<%=recipe.id%>" class="btn btn-primary">View Recipe</a>
        </div>
      </div>
  </div>
    <br>
      <%end%>                     
    <% end %>
</div>
    <br>
    <br>
  <% end %>
<br>
<span class="border-top">
<footer class="mastfoot mt-auto">
    <div class="inner">
    <small>&copy; 2020 <strong>Ecookbook</strong></small>
    </div>
  </footer>
  </span>
