<style>
  .nav-masthead .nav-link {
    color: black;
  }
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: lightgrey;
  }
  .nav-masthead .active {
    color: grey;
    border-bottom-color: lightgrey;
  }
  .wrapper {
      background: #fff;
      -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
      -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      margin: 16px auto;
      max-width: 960px;
      padding: 2.25%; /* 18px / 800px */
      width: 85%;
    }
  body {
    padding-top: 1rem;
    color: black
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: left;
  }

  .mastfoot {
    color: black;
  }

</style>

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">EcookBook</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/user/account">Account</a>
        <a class="nav-link" href="/recipes/new">Create Recipe</a>
        <a class="nav-link" href="/recipes">All Recipes</a>
        <a class="nav-link" href="/recipes/random">Surprise!</a>
        <a class="nav-link" href="/logout">Logout</a>
      </nav>
    </div>
  </header>
<br>
<br>
<br>
<main role="main" class="container">
  <h1><%=@recipe.name%>
  <h5 class="text-monospace"><%=@recipe.recipeType.name%></h5>
  <br>
  <h3>Ingredients</h2>
  <ul>
    <%@ingredients.each do |i|%>
      <li>-<%=i%><li>
      <br>
    <% end %>
  </ul>
<br>
<br>
  <h3>Steps:</h3>
  <ul>
    <%@steps.each do |i|%>
      <li>-<%=i%><li>
    <br>
    <% end %>
  </ul>
<br>
<br>
  <h3>Description</h3>
  <p><%= @recipe.description %></p>
</main>
<div class="starter-template">
  <div class="text-center">
    <p class="lead">
      <a href="/recipes/<%=@recipe.id%>/cookmode" class="btn btn-dark">Cookmode!</a>
      <%if @recipe.user_id==session[:user_id]%>
      <a href="/recipes/<%=@recipe.id%>/edit" class="btn btn-dark">Edit Recipe</a>
<br>
    <form method="post" action="/recipes/<%=@recipe.id%>" id="delete_button">
      <input type='hidden' name='_method' value='delete'>
      <button type='submit' value="delete" class="btn btn-danger" form='delete_button'>Delete Recipe</button>
    </form>
      <% end %>
    </p>
  </div>
</div>
<span class="border-top">
  <footer class="mastfoot mt-auto">
      <div class="inner">
      <small>&copy; 2020 <strong>Ecookbook</strong></small>
      </div>
  </footer>
</span>




